*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-nav a{
    color: tomato;
    background-color: teal;
    display: block;
    height: 64px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
transition: background 0.4s;
}

#main-nav a:hover{
    background-color: yellow;
}
#main-nav ul{
    list-style: none;
    display: flex;
}
#main-nav li{
    width: 100%;
    text-align: center;
    position: relative;
}